<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center">
    <div class="myDiv">
      <h1 style="color:lightcyan;">GET QUOTES</h1>
      </div>
    
    <p style="color:red;font-size: large;">Welcome to <%= title %></p>
    <h4><a href="/quotes">Create and View quotes</a></h4>
    <h4><a href="/logout">Logout</a></h4>
    </div>
    
  </body>
</html>
