
<head>
<meta charset="UTF-8">
<title>Login page</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div align="center" >
<div class="myDiv">
<h1 style="color:lightcyan;">GET QUOTES</h1>
</div>
				<h3 style="color:darkcyan;">Please login</h3>
				<form action="/" method="post">
					
					<div >
						<label for="username">User name</label>: <input type="text"
							id="username" name="username" 
							autofocus="autofocus" placeholder="Username" /><br/><br/>
					</div>
					<div>
						<label for="password">Password</label>: <input type="password"
							id="password" name="password"
							placeholder="Password" /><br/><br/>
					</div>
							<div>
								<input type="submit" name="login-submit" id="login-submit"
									 value="Log In" /><br/><br/>
							</div>
					<div>
						If you are a new user <a href="/register">Register
								here</a>
					</div>
				</form>
			</div>

</body>
</html>