<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div align="center">
<div class="myDiv">
<h1 style="color:lightcyan;">GET QUOTES</h1>
</div>
<br/>
<h2  style="color:darkcyan">Registration Form</h2><br/>
				<form action="/register"  method="post">

			
				<div>
                        <label for="username">User Name</label> 
                        <input type="text" id="username" name="username" placeholder="username">
							  <br/><br/>
					</div>
                 <div>
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" name="fullname" placeholder="fullname"><br/><br/>
					</div>
					<div>
						<label for="nationality">Nationality</label> 
						<input type="text" name="nationality" id="nationality" placeholder="nationality" ><br/><br/>
						
                    </div>
                    <div>
                        <label for="mobilenum">Mobile No</label>
                        <input type="text" name="mobilenum" id="mobilenum"placeholder="mobilenum " >
                        <br/><br/>
					</div>
					<div>
                        <label for="password"> Password</label>
                        <input type="password" name="password" id="password"placeholder="password " >
                        <br/><br/>
                    </div>

					<div>
						<button>Register</button></div><br/><br/>
						<div>
						<span>If you are already registered <a href="/">Login
								here</a></span>
					</div>

</form>
</div>					


</body>
</html>