<!DOCTYPE html>
<html>
  <head>
    <title>Quotes Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center">
    <div class="myDiv">
      <h1 style="color:lightcyan;">GET QUOTES</h1>
      </div>
    <div class="container">
      <h3><a href="/quotes">Quotes List</a></h3>
      <h1>Quotes Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>title</td>
            <td>:</td>
            <td><%= quote.name %></td>
          </tr>
          <tr>
            <td>Quote</td>
            <td>:</td>
            <td><%= quote.quotedesc %></td>
          </tr>
        </tbody>
      </table>
      
      </form>
    </div>
    <h3><a href="/quotes/exit">Exit</a></h3>
    </div>
  </body>
</html>
